/* General body styling */
body {
  background-color: #f2effa;
}

.about-main {
  min-height: calc(100vh - 60px);
  padding: 0 50px;
}

/* Header container */
.about-header {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center;
  padding: 20px;
  background-color: #f2effa;
  width: 100%;
}

.about-header a {
  text-decoration: none;
  color: #7e7ea6;
  transition: color ease 0.3s;
}
.about-header a:hover {
  color: #6666af;
}

.about-header span {
  font-family: "Rochester", cursive, sans-serif;
  font-size: 3rem;
}

.about-header div {
  font-size: 3rem;

  display: inline;
  width: fit-content;
  font-weight: bold;
  margin: 0 15px;
}

.about-first-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem 4rem;
  gap: 3rem;
  align-items: center;
}
.about-main img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.about-second-section {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 2rem 4rem;
  gap: 3rem;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .about-first-section {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    padding: 0;
    gap: 1rem;
    align-items: unset;
  }
  .about-second-section {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: unset;
    padding: 0;
    gap: 1rem;
    align-items: unset;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .about-main img {
    width: 80%;
    margin-inline: auto;
  }
}
