/* Global styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', sans-serif;
}

/* General */
.home-main {
  display: flex;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
}



/* Center Part */
.central-part {
  flex: 1;
  background-color: #f6f6f6;
  padding: 20px 7%;
  overflow-y: auto;
}
@font-face {
  font-family: 'Rochester';
  src: url('https://mystybutterfly.github.io/vladogram-blog/fonts/Rochester.ttf') format('truetype');
}
@media only screen and (max-width: 768px) {
  .central-part{
    padding: 10px 5px;
  }
}